.header.d-flex.justify-content-between.bg-dark.text-light
	.logo.d-flex
		a.p-3(href="/") LOGO
	.navi-wrap.d-flex
		a.p-3(href="/api/list") Ajax 게시판
		a.p-3(href="/board/list") 게시글리스트
		a.p-3(href="/board/write") 글작성