a, a:link, a:visited, a:hover, a:active {color: inherit;}

.wrapper {max-width: 900px; margin: auto;}

.title-wrap {font-size: 1.5rem; padding: 2rem 0 0.25rem 0; border-bottom: 1px solid #bbb; display: flex; justify-content: space-between; align-items: flex-start;}

.list-tb {width: 100%; margin-top: 1rem; text-align: center;}
.list-tb th, .list-tb td {border: 1px solid #ccc;}
.list-tb th {background-color: rgb(19, 47, 88); color: #f8f8f8; 
	padding: 0.5rem 0;}
.list-tb td {padding: 0.5rem 0;}
.list-tb tbody tr > :nth-child(2) {text-align: left; padding: 0.5rem;}

.list-tb tr > :nth-child(1) {width: 10%;}
.list-tb tr > :nth-child(3) {width: 12%;}
.list-tb tr > :nth-child(4) {width: 12%;}
.list-tb tr > :nth-child(5) {width: 8%;}
.list-tb tr > :nth-child(6) {width: 8%;}
.list-tb tr > :nth-child(7) {width: 15%;}


/* POPUP */
.popup-wrap {background-color: rgba(0,0,0,0.7); width: 100%; height: 100vh; position: fixed; top: 0; left: 0; display: none;}
.popup {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 3rem 1.5rem 1.5rem 1.5rem; background-color: ivory; border: 1px solid #ccc; min-width: 600px;}
.popup-close {font-size: 1.5rem; position: absolute; top: 1.5rem; right: 1.5rem; cursor: pointer;}

/* Responsive */
@media screen and (max-width: 992px) {
	.list-tb tr > :nth-child(1) {width: 15%;}
	.list-tb tr > :nth-child(7) {width: 20%;}
	.list-tb tr > :nth-child(5) {display: none;}
	.list-tb tr > :nth-child(6) {display: none;}
}

@media screen and (max-width: 768px) {
	.list-tb tr > :nth-child(1) {width: 20%;}
	.list-tb tr > :nth-child(7) {width: 30%;}
	.list-tb tr > :nth-child(3) {display: none;}
	.list-tb tr > :nth-child(4) {display: none;}
}

@media screen and (max-width: 575px) {

}