a, a:link, a:visited, a:hover, a:active {color: inherit;}

.wrapper {max-width: 900px; margin: auto;}

.title-bar {font-size: 1.5rem; padding: 1rem 0; border-bottom: 1px solid #bbb;}

.list-tb {width: 100%; border: 1px solid #aaa;}
.list-tb tr > :nth-child(1) {width: 10%;}
.list-tb tr > :nth-child(3) {width: 12%;}
.list-tb tr > :nth-child(4) {width: 12%;}
.list-tb tr > :nth-child(5) {width: 8%;}
.list-tb tr > :nth-child(6) {width: 8%;}
.list-tb tr > :nth-child(7) {width: 15%;}


/* Responsive */
@media screen and (max-width: 992px) {
	.list-tb tr > :nth-child(1) {width: 15%;}
	.list-tb tr > :nth-child(7) {width: 20%;}
	.list-tb tr > :nth-child(5) {display: none;}
	.list-tb tr > :nth-child(6) {display: none;}
}

@media screen and (max-width: 768px) {
	.list-tb tr > :nth-child(1) {width: 20%;}
	.list-tb tr > :nth-child(7) {width: 30%;}
	.list-tb tr > :nth-child(3) {display: none;}
	.list-tb tr > :nth-child(4) {display: none;}
}

@media screen and (max-width: 575px) {

}