doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ../inc/style.pug
		include ../inc/script.pug
	body
		include ../inc/header.pug
		.container
			block top
			block content
		script(src="/js/index.js")